{
  "openapi": "3.0.1",
  "info": {
    "title": "CI Lifecycle Manager",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/now/ci_lifecycle_manager/data_manager_user_groups": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/deprecation": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/edit_exclusion_list": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/enforced_condition": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/exclude_cis": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/excluded_cis_list_per_policy_type": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/excluded_cis_per_policy_type": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/full_encoded_query": {
      "get": {
        "description": "Combines the policy query with the exclusion list and retirement definition",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/policies": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/policy": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      },
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/policy/{sys_id}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/policy_count": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/policy_types": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/preview_metadata": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/related_entry_tables": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/status/{sys_id}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/sub_flows": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/task_group_fields": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/ci_lifecycle_manager/tasks_count": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}