{
  "openapi": "3.0.1",
  "info": {
    "title": "CMDB UI API (Internal API)",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/now/cmdb_ui_api/IdentificationGetParentClasses/{className}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "className",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/now/cmdb_ui_api/IdentificationLookUpTables/{className}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "className",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/now/cmdb_ui_api/disable_dynamic_ire_simulation": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/cmdb_ui_api/duplicate_task_recommendations/active": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/cmdb_ui_api/duplicate_task_recommendations/{taskId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/now/cmdb_ui_api/enable_dynamic_ire": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/cmdb_ui_api/enable_dynamic_ire_simulation": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/cmdb_ui_api/enable_static_ire": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/cmdb_ui_api/get_dynamic_ire_simulation_data/{className}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "className",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/now/cmdb_ui_api/validate/{sys_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}