{
  "openapi": "3.0.1",
  "info": {
    "title": "Cloud Runner MCP",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/now/cloud_runner_mcp/finalize/{rollbackId}/{trace_config_sys_id}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "rollbackId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "trace_config_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/cloud_runner_mcp/initialize/{contextName}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "contextName",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/cloud_runner_mcp/invalidate_key/{key_id}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/now/cloud_runner_mcp/request_key": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/cloud_runner_mcp/tool_completed/{test_id}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "test_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}