{
  "openapi": "3.0.1",
  "info": {
    "title": "Interactive Analysis (Internal API)",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/now/interactive_analysis/table/{tableName}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_list_view",
            "in": "query",
            "description": "List's view name.",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {}
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_list_view",
            "in": "query",
            "description": "List's view name.",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_list_view",
            "in": "query",
            "description": "List's view name.",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}