{
  "openapi": "3.0.1",
  "info": {
    "title": "UI GlideRecord API",
    "description": "Allows you to perform create, read, update and delete (CRUD) operations on existing tables",
    "version": "latest"
  },
  "externalDocs": {
    "url": "https://docs.servicenow.com/?context=CSHelp:REST-Table-API"
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/now/ui/glideRecord/{tableName}": {
      "get": {
        "description": "Query records from a table",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_query",
            "in": "query",
            "description": "An encoded query string used to filter the results",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_suppress_pagination_header",
            "in": "query",
            "description": "True to supress pagination header (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_limit",
            "in": "query",
            "description": "The maximum number of results returned per page (default: 10,000)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_query_category",
            "in": "query",
            "description": "Name of the query category (read replica category) to use for queries",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_orderBy",
            "in": "query",
            "description": "Specify a column to be used for the sort order of results in ascending",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_orderByDesc",
            "in": "query",
            "description": "Specify a column to be used for the sort order of results in descending",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {}
      },
      "put": {
        "description": "Update multiple record",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_input_display_value",
            "in": "query",
            "description": "Set field values using their display value (true) or actual value (false) (default: false)",
            "required": false,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      },
      "post": {
        "description": "Create a record",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_input_display_value",
            "in": "query",
            "description": "Set field values using their display value (true) or actual value (false) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_suppress_auto_sys_field",
            "in": "query",
            "description": "True to suppress auto generation of system fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/ui/glideRecord/{tableName}/{sys_id}": {
      "get": {
        "description": "Retrieve a record",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {}
      },
      "put": {
        "description": "Update a record",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_input_display_value",
            "in": "query",
            "description": "Set field values using their display value (true) or actual value (false) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_suppress_auto_sys_field",
            "in": "query",
            "description": "True to suppress auto generation of system fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "description": "Delete a record",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}