{
  "openapi": "3.0.1",
  "info": {
    "title": "SNHelpService",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/now/help/documents": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/help/documents/{sys_id}": {
      "get": {
        "description": "Get Embedded help content by sys_id of the embedded_help_content record.",
        "parameters": [
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/now/help/feedback": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/help/guidance/{guidance_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "guidance_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/now/help/interactions/{id}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/help/resources": {
      "get": {
        "description": "Get the help resource from help content table ",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/help/wnstatus": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}