{
  "openapi": "3.0.1",
  "info": {
    "title": "SaBusinessService",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/now/sa_business_service/deleteBusinessService/{service_id}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/now/sa_business_service/getEntryPointConnectivity": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/sa_business_service/getNumberOfCandidates": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/sa_business_service/initialPageData": {
      "get": {
        "description": "Loads the initial data needed for loading the single business service map page",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/now/sa_business_service/submitQuestionnaire": {
      "put": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/sa_business_service/updateBusinessService": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}