{
  "openapi": "3.0.1",
  "info": {
    "title": "Live Agent Support API",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/now/conversation/live_agent/check": {
      "get": {
        "description": "Check live agent availability for a conversation.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "query",
            "description": "Conversation for which to check agent availability.",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/now/conversation/live_agent/route": {
      "post": {
        "description": "Route to live agent.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "query",
            "description": "Conversation to route to a live agent.",
            "required": false,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}