{
  "openapi": "3.0.1",
  "info": {
    "title": "CSM Attachment API",
    "description": "Allows internal and external users to upload, download, and remove attachments and to retrieve attachment metadata.",
    "version": "v1"
  },
  "externalDocs": {
    "url": "https://docs.servicenow.com/?context=CSHelp:REST-CSM_Attachment-API"
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/now/v1/attachment_csm": {
      "get": {
        "description": "Retrieve metadata for attachments",
        "parameters": [
          {
            "name": "sysparm_query",
            "in": "query",
            "description": "An encoded query string used to filter the results (relative to Attachment table)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_suppress_pagination_header",
            "in": "query",
            "description": "True to supress pagination header (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_limit",
            "in": "query",
            "description": "The maximum number of results returned per page (default: 10,000)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_query_category",
            "in": "query",
            "description": "Name of the query category (read replica category) to use for queries",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/now/v1/attachment_csm/file": {
      "post": {
        "description": "Upload an attachment from a binary request",
        "parameters": [
          {
            "name": "table_name",
            "in": "query",
            "description": "Table to attach the file to",
            "required": true,
            "schema": {}
          },
          {
            "name": "table_sys_id",
            "in": "query",
            "description": "Record to attach the file to",
            "required": true,
            "schema": {}
          },
          {
            "name": "file_name",
            "in": "query",
            "description": "File name for the attachment",
            "required": true,
            "schema": {}
          },
          {
            "name": "encryption_context",
            "in": "query",
            "description": "Encryption context to be used if file to be saved encrypted",
            "required": false,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/v1/attachment_csm/upload": {
      "post": {
        "description": "Upload an attachment from a multipart form",
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/v1/attachment_csm/{sys_id}": {
      "get": {
        "description": "Retrieve attachment metadata",
        "parameters": [
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      },
      "delete": {
        "description": "Delete an attachment",
        "parameters": [
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/now/v1/attachment_csm/{sys_id}/file": {
      "get": {
        "description": "Retrieve attachment content",
        "parameters": [
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}