{
  "openapi": "3.0.1",
  "info": {
    "title": "Mobile Condition Builder API",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/now/sg/filter": {
      "post": {
        "description": "Get Filter",
        "parameters": [
          {
            "name": "document_id",
            "in": "query",
            "description": "Id of the document",
            "required": false,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/sg/filter_list": {
      "post": {
        "description": "Get Filter List",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/now/sg/filter_list_display_values": {
      "post": {
        "description": "Get Filter Reference Display Values",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}