{
  "openapi": "3.0.1",
  "info": {
    "title": "SNHelpSetupBuilderService",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_ads_setup/build/dependency/{dependency_id}/step/{step_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "dependency_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "dependency_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "dependency_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "dependency_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_ads_setup/build/setup/{setup_id}/plugins/{plugin_category}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "setup_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "plugin_category",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "setup_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "plugin_category",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_ads_setup/build/setup/{setupId}/reorder": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "setupId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_ads_setup/build/setup/{setup_id}/step/{step_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "setup_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "setup_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "setup_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_ads_setup/build/setup/{sys_id}/summary": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}