{
  "openapi": "3.0.1",
  "info": {
    "title": "Conversation Change Log API",
    "description": "Rest API for conversation change log",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_build_agent/conversation_change_log_api/{checkpointId}/bulkUpdateSummaries": {
      "patch": {
        "description": "Bulk update summaries for a list of conversation change log records",
        "parameters": [
          {
            "name": "checkpointId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_build_agent/conversation_change_log_api/{checkpointId}/getChangeLogByCheckpoint": {
      "get": {
        "description": "Get change log for a given checkpoint",
        "parameters": [
          {
            "name": "checkpointId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_build_agent/conversation_change_log_api/{conversationId}/getChangeLogByConversation": {
      "get": {
        "description": "Get change log for a given conversation",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_build_agent/conversation_change_log_api/{conversationId}/{checkpointId}/{selectedCheckpointId}/{fileName}/getUpdateVersionByFile": {
      "get": {
        "description": "Get update version sys_id for a file at a specific checkpoint",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "checkpointId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "selectedCheckpointId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}