{
  "openapi": "3.0.1",
  "info": {
    "title": "Benchmark Client API",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_bm_client/benchmark_client_api/activateIndicators": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_bm_client/benchmark_client_api/categories": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_bm_client/benchmark_client_api/clientAutoDetectErrors": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_bm_client/benchmark_client_api/conditions": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_bm_client/benchmark_client_api/export_pdf": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_bm_client/benchmark_client_api/group_tabs_by_category": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_bm_client/benchmark_client_api/indicator_scores": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_bm_client/benchmark_client_api/indicators": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "sysparm_sys_ids",
            "in": "query",
            "description": "Comma separated Sys IDs for the benchmark indicators",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_bm_client/benchmark_client_api/optoutfeedbackoptions": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_bm_client/benchmark_client_api/saveoptoutfeedback": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_bm_client/benchmark_client_api/toggleOptInStatus": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}