{
  "openapi": "3.0.1",
  "info": {
    "title": "Schedule Content",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_cd/schedules": {
      "get": {
        "description": "This resource will only return the first matching 100 Schedule Content records",
        "parameters": [
          {
            "name": "contentSysId",
            "in": "query",
            "description": "A Content Sys Id",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "templateSysId",
            "in": "query",
            "description": "A Content Template Sys Id",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {}
      },
      "post": {
        "description": "This resource will only return the first matching 100 Schedule Content records",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_cd/schedules/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}