{
  "openapi": "3.0.1",
  "info": {
    "title": "Configuration Hub API",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_config_hub/configuration_hub_api/app/data": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_config_hub/configuration_hub_api/config/applications": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_config_hub/configuration_hub_api/config/data": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_config_hub/configuration_hub_api/config/productapps": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_config_hub/configuration_hub_api/config/products": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_config_hub/configuration_hub_api/config/record_scope/{table}/{recordId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_config_hub/configuration_hub_api/default-pinned": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_config_hub/configuration_hub_api/metrics": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_config_hub/configuration_hub_api/package_sources": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_config_hub/configuration_hub_api/product/data": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_config_hub/configuration_hub_api/users": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}