{
  "openapi": "3.0.1",
  "info": {
    "title": "CICD Instance Scan Execution Service",
    "description": "CI/CD service to start executing instance scan as well as getting progress and results of runs",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_cicd/instance_scan/full_scan": {
      "post": {
        "description": "Execute Full Scan",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_cicd/instance_scan/point_scan": {
      "post": {
        "description": "Execute Point Scan",
        "parameters": [
          {
            "name": "target_table",
            "in": "query",
            "description": "Target table to be scanned",
            "required": true,
            "schema": {}
          },
          {
            "name": "target_sys_id",
            "in": "query",
            "description": "Target record to be scanned",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_cicd/instance_scan/result/{progress_id}": {
      "get": {
        "description": "Given a progress id - Get Scan Results",
        "parameters": [
          {
            "name": "progress_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_cicd/instance_scan/suite_scan/combo/{combo_sys_id}": {
      "post": {
        "description": "Execute scan with combo",
        "parameters": [
          {
            "name": "combo_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_cicd/instance_scan/suite_scan/{suite_sys_id}/scoped_apps": {
      "post": {
        "description": "Execute scan with suite on scoped apps",
        "parameters": [
          {
            "name": "suite_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_cicd/instance_scan/suite_scan/{suite_sys_id}/update_sets": {
      "post": {
        "description": "Execute scan with suite on update sets",
        "parameters": [
          {
            "name": "suite_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}