{
  "openapi": "3.0.1",
  "info": {
    "title": "Collaboration Tasks API",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_collab_request/collaboration_tasks_api/active_plugin_version": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_collab_request/collaboration_tasks_api/app/{application_sys_id}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "application_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "feature",
            "in": "query",
            "description": "Expected feature query param value : INVITE or JOIN",
            "required": false,
            "schema": {},
            "example": "INVITE or JOIN"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_collab_request/collaboration_tasks_api/cancel_collaboration_task/{task_id}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_collab_request/collaboration_tasks_api/controller_collab_plugin_info": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_collab_request/collaboration_tasks_api/pending_collaborators/app/{application_sys_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "application_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_collab_request/collaboration_tasks_api/user_pending_collaboration_tasks": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appSysIDs",
            "in": "query",
            "description": "Expected Value: Comma seperated App sysIds in a string format",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}