{
  "openapi": "3.0.1",
  "info": {
    "title": "CICD Batch Install API",
    "description": "CI/CD service to install a plan via the batch installer",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_cicd/app/batch/install": {
      "post": {
        "description": "Install a set of applications and plugins based on installation plan",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_cicd/app/batch/results/{result_id}": {
      "get": {
        "description": "Get the results of a batch install plan",
        "parameters": [
          {
            "name": "result_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_cicd/app/batch/rollback/{rollback_id}": {
      "post": {
        "description": "Rollback a batch install",
        "parameters": [
          {
            "name": "rollback_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}