{
  "openapi": "3.0.1",
  "info": {
    "title": "Deployment Pipeline API",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_deploy_pipeline/deployment_pipeline_api/validate_app_publish_version/{app_sys_id}/{version}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "app_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_deploy_pipeline/deployment_pipeline_api/validate_configuration": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_deploy_pipeline/deployment_pipeline_api/{app_id}/deployment_request/open": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_deploy_pipeline/deployment_pipeline_api/{app_id}/deployment_request/update": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}