{
  "openapi": "3.0.1",
  "info": {
    "title": "VCS",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_devstudio/vcs/apps": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      },
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      },
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/changes": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "includeUpdateSetInfo",
            "in": "query",
            "description": "Include update set information along with the OutgoingChanges in response",
            "required": false,
            "schema": {},
            "example": "true | false"
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/changes/changedFilesDisplayLimit": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/changes/status": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/changes/updateSetHistory": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/records/filter": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}/apply": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}/branches": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}/branches/switch": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}/changes": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}/commits": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}/history": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}/refresh": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}/stash_previews": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}/stash_previews/apply": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}/stash_previews/current": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}/stashes": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}/stashes/{stashId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "stashId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "stashId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/repos/{repoId}/tags": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/status": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/apps/{appId}/tracker/{trackerId}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "trackerId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/appsall": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/default_branch_name": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/dependencies/plugins/{pluginId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "pluginId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/remote_default_branch_name": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/storeapps": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_devstudio/vcs/transactions/{transactionId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}