{
  "openapi": "3.0.1",
  "info": {
    "title": "Scheduled Deployment",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_deploy_pipeline/scheduled_deployment/cancel/{record_sys_id}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "record_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_deploy_pipeline/scheduled_deployment/{record_sys_id}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "record_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}