{
  "openapi": "3.0.1",
  "info": {
    "title": "Secops RTE Component API",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_escm_rte/sn_escm_rte_component_api/countMentions/{table}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_escm_rte/sn_escm_rte_component_api/getColumns/{table}/{sysId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_escm_rte/sn_escm_rte_component_api/recordMentions/{table}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "searchTerm",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "sourceId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "sourceField",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "sourceTable",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}