{
  "openapi": "3.0.1",
  "info": {
    "title": "Glider Relay",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_glider/relay": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "extUrl",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {},
            "example": ""
          },
          {
            "name": "extUrl",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {}
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "extUrl",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {},
            "example": ""
          },
          {
            "name": "extUrl",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {},
            "example": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {},
            "application/x-git-upload-pack-request": {},
            "application/x-git-receive-pack-request": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}