{
  "openapi": "3.0.1",
  "info": {
    "title": "Sync Service",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_glider/sync/changes/apply": {
      "post": {
        "description": "File system changes to apply",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {},
            "multipart/form-data": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_glider/sync/files": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_glider/sync/get_latest_updated_metadata": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_glider/sync/metadata/{scope_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_glider/sync/state": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}