{
  "openapi": "3.0.1",
  "info": {
    "title": "Metadata",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_glider/metadata/customize-global/{scopeId}": {
      "post": {
        "description": "Prepare file(s) for customization by creating customizations in a given scope",
        "parameters": [
          {
            "name": "scopeId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_glider/metadata/files/table/{table}/scope/{scope}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "scope",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_glider/metadata/unload/{sysId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "sysId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_glider/metadata/unload/{scopeId}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "scopeId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}