{
  "openapi": "3.0.1",
  "info": {
    "title": "Guided Decisions Guidance API",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_gd_guidance/guided_decisions_guidance_api/guidance_form_fields/{sys_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_gd_guidance/guided_decisions_guidance_api/guidance_object/{recommender}/{recommended_by}": {
      "get": {
        "description": "Return guidance object recomended by \"recomendded_by\". ",
        "parameters": [
          {
            "name": "recommender",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "recommended_by",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_gd_guidance/guided_decisions_guidance_api/guidance_object_by_sys_id/{history_id}/{recommender}/{recommended_by}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "history_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "recommender",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "recommended_by",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_gd_guidance/guided_decisions_guidance_api/skip_guidance_execution": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_gd_guidance/guided_decisions_guidance_api/update_input_values": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}