{
  "openapi": "3.0.1",
  "info": {
    "title": "Get Applications",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_glider/applications/all": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_glider/applications/get_sys_scope_applications": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_glider/applications/ide/{app_id}/version/update-available": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_glider/applications/{app_id}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_glider/applications/{app_id}/is_fluent_app": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}