{
  "openapi": "3.0.1",
  "info": {
    "title": "ML UI",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_ml_ui/ml_ui/applyClassificationTargetValues/{solution_id}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "solution_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_ml_ui/ml_ui/getClusterTreeMapData/{solution_id}": {
      "get": {
        "description": "API to get cluster treemap data for a specified solution id",
        "parameters": [
          {
            "name": "solution_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_ml_ui/ml_ui/getclassificationdata/{solution_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "solution_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_ml_ui/ml_ui/getclusterdata/{solution_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "solution_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_ml_ui/ml_ui/getregressionstats/{solution_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "solution_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_ml_ui/ml_ui/getsolutiondata/{solution_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "solution_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_ml_ui/ml_ui/isClassRecallSpecified/{solution_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "solution_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}