{
  "openapi": "3.0.1",
  "info": {
    "title": "Workspace CAB meeting (Internal API)",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_mtg_cab/workspace_cab_meeting/agenda/item/{agendaItemId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "agendaItemId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_mtg_cab/workspace_cab_meeting/attendee/{meetingId}/search/{freetextQuery}/{pageNumber}/{sort}/{filter}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "freetextQuery",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "pageNumber",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sort",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "filter",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_mtg_cab/workspace_cab_meeting/initial/{meetingId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_mtg_cab/workspace_cab_meeting/notifications/{meetingId}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_mtg_cab/workspace_cab_meeting/refresh/{meetingId}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_mtg_cab/workspace_cab_meeting/runtime_state/nd_next_item/{meeting_sys_id}/{next_item_sys_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "meeting_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "next_item_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_mtg_cab/workspace_cab_meeting/share_notes/{meeting_sys_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "meeting_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_mtg_cab/workspace_cab_meeting/{meetingId}/agenda/item/{agendaItemId}/restore": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "agendaItemId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}