{
  "openapi": "3.0.1",
  "info": {
    "title": "NLU Advanced (Internal API)",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_nlu_workbench/nlu_advanced/acceptModelOptimization/{executionId}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nlu_workbench/nlu_advanced/addFeedbackToModels": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nlu_workbench/nlu_advanced/addUtterancesToIntent": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nlu_workbench/nlu_advanced/analyseConflicts": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nlu_workbench/nlu_advanced/applyRecommendation/{executionId}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nlu_workbench/nlu_advanced/cancelImprovementAnalysis": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "solutionVersion",
            "in": "query",
            "description": "Version of the ML solution to be cancelled",
            "required": true,
            "schema": {},
            "example": "1"
          },
          {
            "name": "solutionName",
            "in": "query",
            "description": "Name of the ML solution to be cancelled",
            "required": true,
            "schema": {},
            "example": "ml_solution_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nlu_workbench/nlu_advanced/cancelTestRun/{executionId}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nlu_workbench/nlu_advanced/createBatchTest": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nlu_workbench/nlu_advanced/exportBatchTest/{executionId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "filters",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nlu_workbench/nlu_advanced/getImprovementAnalysisStatus": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nlu_workbench/nlu_advanced/ignoreCluster": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nlu_workbench/nlu_advanced/runBatchTest": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nlu_workbench/nlu_advanced/runImprovementAnalysis": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "dateRange",
            "in": "query",
            "description": "Select from last 30, 60, 90 days.",
            "required": true,
            "schema": {},
            "example": "past_30_days"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nlu_workbench/nlu_advanced/unIgnoreCluster/{cluster_id}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}