{
  "openapi": "3.0.1",
  "info": {
    "title": "Recommended Action",
    "description": "Associated with Recommended Actions application",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_nb_action/next_best_action/actions/get_recommendations": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nb_action/next_best_action/actions/get_search_result_actions": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nb_action/next_best_action/actions/{table_name}/{sys_id}/get_recommendation_history": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table_name",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "contextSysId",
            "in": "query",
            "description": "Rule context sys id",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nb_action/next_best_action/actions/{table_name}/{sys_id}/{action_id}/dismiss_action": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "table_name",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nb_action/next_best_action/actions/{table_name}/{sys_id}/{action_id}/execute": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "table_name",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nb_action/next_best_action/actions/{table_name}/{sys_id}/{action_id}/get_action_detail": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table_name",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nb_action/next_best_action/actions/{table_name}/{sys_id}/{action_id}/start": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "table_name",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nb_action/next_best_action/actions/{table_name}/{sys_id}/{grouping}/{ra_context_id}/get_actions": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table_name",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "grouping",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "ra_context_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "contextSysId",
            "in": "query",
            "description": "Rule context sys id",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nb_action/next_best_action/create_search_result_execution_record": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nb_action/next_best_action/pillpicker/base_elements/{table}/{sys_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nb_action/next_best_action/pillpicker/supported_tables": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nb_action/next_best_action/pillpicker/var_elements/{table}/{sys_id}/{reference_table}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "reference_table",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nb_action/next_best_action/search/default_search_term/{table_name}/{sysId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table_name",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "includeActionDetails",
            "in": "query",
            "description": "Set to include search result action details",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "contextSysId",
            "in": "query",
            "description": "Rule context sys id",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_nb_action/next_best_action/search/{table_name}/get_search_params": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table_name",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "contextSysId",
            "in": "query",
            "description": "Rule context sys id",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}