{
  "openapi": "3.0.1",
  "info": {
    "title": "PDF to Table API",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_pdf_table_bldr/app/add_tables_to_list": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_pdf_table_bldr/app/check_plugin_status": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_pdf_table_bldr/app/delete_pdf_details": {
      "delete": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_pdf_table_bldr/app/fetchPdfExtractorDetails": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_pdf_table_bldr/app/fetchTableDetails": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_pdf_table_bldr/app/getTableExtensions": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_pdf_table_bldr/app/poll_for_parsing_status": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_pdf_table_bldr/app/save_data/{table_name}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "table_name",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_pdf_table_bldr/app/submit_parse_pdf_job": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_pdf_table_bldr/app/updateMetadata": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}