{
  "openapi": "3.0.1",
  "info": {
    "title": "AES Role Builder Application API",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_role_builder/application/{application_sys_id}/permissions": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "application_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_role_builder/application/{application_sys_id}/role_details/{role_sys_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "application_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "role_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}