{
  "openapi": "3.0.1",
  "info": {
    "title": "Smart assessment template builder API",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev421992.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_smart_asmt/template_builder/asmtRefInfo/save": {
      "patch": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/displayField/{tableName}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/fieldChoices/{table}/{field}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "field",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/fieldInfo/{table}/{fields}/{properties}": {
      "get": {
        "description": "Allows to fetch properties of fields of a table.",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "fields",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "properties",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/instructions/{templateId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/navigation/{templateId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/question/save": {
      "patch": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/question/{questionId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/questionConditionData/{questionId}/{conditionType}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "conditionType",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/questionPredicateData/{questionId}/{sysClassName}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysClassName",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      },
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysClassName",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/questiontypes": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/referenceCardsData/{templateId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/scoringStatus/{template}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "template",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/section/save": {
      "patch": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {}
      }
    },
    "/api/sn_smart_asmt/template_builder/section/{sectionId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {}
  }
}