{
  "openapi": "3.0.1",
  "info": {
    "title": "Resource Criticality",
    "description": "REST API for finding resources (CIs and services that may be impacted",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_sec_cmn/resource_criticality/impacted_services/list": {
      "get": {
        "description": "Get a list of impacted services",
        "parameters": [
          {
            "name": "resourceId",
            "in": "query",
            "description": "Resource or CI Identifier",
            "required": true,
            "schema": {},
            "example": "e6dcfd659f01120034c6b6a0942e7094"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_sec_cmn/resource_criticality/impacted_services/service_criticalities": {
      "get": {
        "description": "Get a list of business impact values with aggregate data",
        "parameters": [
          {
            "name": "resourceId",
            "in": "query",
            "description": "Resource or CI Identifier",
            "required": true,
            "schema": {},
            "example": "e6dcfd659f01120034c6b6a0942e7094"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_sec_cmn/resource_criticality/lookup_resource_id": {
      "get": {
        "description": "Lookup a resource (CI) from IP, FQDNS, or Netbios name",
        "parameters": [
          {
            "name": "lookupString",
            "in": "query",
            "description": "Look up a resource by IP, FQDNS, or Netbios",
            "required": true,
            "schema": {},
            "example": "192.168.1.1"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}