{
  "openapi": "3.0.1",
  "info": {
    "title": "Conflict Calendar",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_sow_chg/conflict_calendar/events/{sys_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "related_assigned",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": "true"
          },
          {
            "name": "blackout",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": "true"
          },
          {
            "name": "date_range",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": "{start: 1662595200000, end: 1662681599999}"
          },
          {
            "name": "maintenance",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": "true"
          },
          {
            "name": "table_name",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": "change_request"
          },
          {
            "name": "related_ci",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": "true"
          },
          {
            "name": "related",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": "true"
          },
          {
            "name": "related_group",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}