{
  "openapi": "3.0.1",
  "info": {
    "title": "SOW Change Creation Page",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_sow_chg/sow_change_creation_page/changecards": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_sow_chg/sow_change_creation_page/changecardsv2": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_sow_chg/sow_change_creation_page/getcategories": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_sow_chg/sow_change_creation_page/getdropdownvalues": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}