{
  "openapi": "3.0.1",
  "info": {
    "title": "SOW Change Utils",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_sow_chg/sow_change_utils/approvals/{taskId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_sow_chg/sow_change_utils/approvals/{sysId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "sysId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_sow_chg/sow_change_utils/calculateRisk/{change_sys_id}/{dryRun}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "change_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "dryRun",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_sow_chg/sow_change_utils/delete_change_risk_asmt/{change_sys_id}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "change_sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_sow_chg/sow_change_utils/get_change_overview_details": {
      "patch": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_sow_chg/sow_change_utils/get_form_sections_layout": {
      "patch": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_sow_chg/sow_change_utils/get_sections/{state}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_sow_chg/sow_change_utils/save_single_propose_record": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}