{
  "openapi": "3.0.1",
  "info": {
    "title": "Build Agent API",
    "description": "Rest API for build agent extension to interact with Instance",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_try_build_agent/build_agent_api/conversations": {
      "get": {
        "description": "Retrieves conversations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "post": {
        "description": "Creates a new conversation",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/sn_try_build_agent/build_agent_api/conversations/{id}/deactivate": {
      "post": {
        "description": "Deactivates a conversation and its associated messages",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/sn_try_build_agent/build_agent_api/conversations/{id}/messages": {
      "get": {
        "description": "Retrieves conversations",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "post": {
        "description": "Appends a single message to the messages in a conversation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/sn_try_build_agent/build_agent_api/conversations/{id}/messages/revert_to_checkpoint": {
      "post": {
        "description": "Deactivates all messages in a conversation after the specified message checkpoin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/sn_try_build_agent/build_agent_api/getAvailableAPITypes": {
      "get": {
        "description": "Get available API types from knowledge source",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/sn_try_build_agent/build_agent_api/getFluentKS/{apiType}/{fluentVersion}": {
      "get": {
        "description": "Get fluent knowledge source for LLM context",
        "parameters": [
          {
            "name": "apiType",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "fluentVersion",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/sn_try_build_agent/build_agent_api/getLatestFluentVS": {
      "get": {
        "description": "Get latest available version of Fluent compatible with knowledge source table",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/sn_try_build_agent/build_agent_api/getTableSchema/{table}": {
      "get": {
        "description": "Tool to get the schema of a table, including fields, types, and mandatory status",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/sn_try_build_agent/build_agent_api/providerConfig": {
      "get": {
        "description": "Get build agent provider configuration",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/sn_try_build_agent/build_agent_api/runQuery/table/{table}/query/{encoded_query}": {
      "get": {
        "description": "Tool to execute an encoded query on the specified table and return results",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "encoded_query",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/sn_try_build_agent/build_agent_api/send": {
      "post": {
        "description": "Delegate messages to LLM",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/sn_try_build_agent/build_agent_api/telemetry": {
      "post": {
        "description": "Update build agent telemetry with this API",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}