{
  "openapi": "3.0.1",
  "info": {
    "title": "BuilderToolkit",
    "description": "",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_uibtk_api/buildertoolkit/ai/experience": {
      "post": {
        "description": "Create a new UIB experience with pages. Part of Text to Experience.",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/app_route": {
      "patch": {
        "description": "Updates an app route record",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/auto_reflow_rules": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/cb": {
      "get": {
        "description": "Fetches a CB component and related records",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "post": {
        "description": "Creates a CB component",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a CB built component and all related records",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "patch": {
        "description": "Updates a CB component and related records",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/cb-enable-status": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/cb/component-usage": {
      "get": {
        "description": "Returns all usage of a CB built component",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/cb/duplicate": {
      "post": {
        "description": "Duplicates a CB record and all related records",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/cb/page-collection-usage": {
      "get": {
        "description": "Returns all usage of a CB built component within page collections",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/cb/page-usage": {
      "get": {
        "description": "Returns all usage of a CB built component within pages",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/check_rules/experience/{experienceId}/isMaint/{isMaint}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "experienceId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "isMaint",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/check_rules/experience/{experienceId}/parentScreenId/{parentScreenId}/parentElementId/{parentElementId}/isMaint/{isMaint}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "experienceId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "parentScreenId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "parentElementId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "isMaint",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/check_rules/macroponent/{macroponentId}/isMaint/{isMaint}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "macroponentId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "isMaint",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/check_rules/pc/{extensionPointId}/isMaint/{isMaint}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "extensionPointId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "isMaint",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/check_rules/pc/{extensionPointId}/parentScreenId/{parentScreenId}/parentElementId/{parentElementId}/isMaint/{isMaint}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "extensionPointId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "parentScreenId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "parentElementId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "isMaint",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/component/interface": {
      "get": {
        "description": "Gets either all lite-version component definitions or specific full ones",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/component/presets": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "elementId",
            "in": "query",
            "description": "Element Id",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "post": {
        "description": "Adds a Component preset to the sys_ux_component_preset table",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "patch": {
        "description": "Updates a component preset",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/component/routes": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "sysId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/components": {
      "get": {
        "description": "Gets either all lite-version component definitions or specific full ones",
        "parameters": [
          {
            "name": "sysIds",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/components/groups": {
      "get": {
        "description": "Gets all grouped components",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/controller": {
      "patch": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/controller/presets": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "elementId",
            "in": "query",
            "description": "Element Id",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/controllers": {
      "get": {
        "description": "Gets all controller definitions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/data_brokers": {
      "get": {
        "description": "Gets data broker definitions by a list of sysIds",
        "parameters": [
          {
            "name": "sysIds",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/diagnostic_rule_dismiss/dismiss": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/diagnostic_rule_dismiss/undismiss": {
      "patch": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/event": {
      "get": {
        "description": "Gets a sys_id for a new event record (or an existing sys_id in the same scope)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/experience": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "sysId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "post": {
        "description": "Creates a new page registry and app config record",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "patch": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/experience/data": {
      "get": {
        "description": "Gets all supporting data needed to create an experience",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/experience/path": {
      "get": {
        "description": "Checks to see if a path for a new experience is in use already",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/extension_point": {
      "get": {
        "description": "Gets a list of extension points and their subroutes by a provided query",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "An encoded query for a GlideRecord query",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "sysId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "post": {
        "description": "Adds an Extension Point to the sys_ux_extension_point table",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "patch": {
        "description": "Updates an existing Extension Point in the sys_ux_extension_point table",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/generate_sys_id": {
      "get": {
        "description": "Gets a new sys_id that has not been used",
        "parameters": [
          {
            "name": "total",
            "in": "query",
            "description": "The total number of things needed",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/icons": {
      "get": {
        "description": "Gets an array of all NDS icons available in the instance",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/macroponent": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "sysId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "post": {
        "description": "Creates a new macroponent from provided field values and template (optional)",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "patch": {
        "description": "Updates a macroponent record",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/page": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "noDomain",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "sysId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "post": {
        "description": "Creates a new page optionally using a template",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "experienceId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "noDomain",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "patch": {
        "description": "Updates multiple records that make up a UIB page record",
        "parameters": [
          {
            "name": "noDomain",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/page/duplicate": {
      "post": {
        "description": "Allows everything related to a screen collection to be duplicated",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/parse_versions": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/pc_experiences": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/preset": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/reference_display_value": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "table",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": "incident"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/reference_search": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/rules": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/rules_subscribed": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/screen": {
      "get": {
        "description": "Gets a specific screen record",
        "parameters": [
          {
            "name": "sysId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "elementId",
            "in": "query",
            "description": "Element Id",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "noDomain",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "post": {
        "description": "Creates a screen record and related applicabilities",
        "parameters": [
          {
            "name": "experienceId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "noDomain",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "mode",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a screen record",
        "parameters": [
          {
            "name": "sysId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "noDomain",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "patch": {
        "description": "Updates a screen record",
        "parameters": [
          {
            "name": "noDomain",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/screen/duplicate": {
      "post": {
        "description": "Duplicates a screen and it's macroponent",
        "parameters": [
          {
            "name": "noDomain",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "sysId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/screen/override": {
      "get": {
        "description": "Gets all overrides for a provided screen",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "post": {
        "description": "Creates a screen record and related applicabilities",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/screen_test_value": {
      "patch": {
        "description": "Updates a screen test values record related to a screen",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/search_facets": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/t2e/skill_enabled": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/templates/layout": {
      "get": {
        "description": "Gets page and layout templates for 2.0 layouts",
        "parameters": [
          {
            "name": "scopeIds",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          },
          {
            "name": "templateIds",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {},
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/templates/page": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/themes": {
      "get": {
        "description": "Fetches all available themes",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/uib_config": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/uib_hook": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/upgrade_status": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_uibtk_api/buildertoolkit/version_snapshots": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}