{
  "openapi": "3.0.1",
  "info": {
    "title": "Vulnerability Integration Configuration",
    "description": "REST APIs for Setup Assistant for Vulnerability Response ",
    "version": "latest"
  },
  "externalDocs": {
    "url": ""
  },
  "servers": [
    {
      "url": "https://dev301473.service-now.com/"
    }
  ],
  "paths": {
    "/api/sn_vul/vul_integration_configuration/execute_import/{integ_id}/{config_id}/{rest_message}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "integ_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "config_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "rest_message",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/get_installed_plugins": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/get_integrations_plugins": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/get_vul_admin_users/{content_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/guided_setup_status": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/host_import_info/{integration}/{instanceId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "integration",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "integration",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/is_import_running/{integ_id}/{config_id}/{rest_message}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "integ_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "config_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "rest_message",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/kb_import_info/{integ_id}/{config_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "integ_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "config_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "integ_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "config_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/remove_vul_admin_user/{id}/{record_type}/{role_id}/{content_id}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "record_type",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/save_user_vul_admin": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/save_vul_group": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/set_integration_status": {
      "put": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/update_role": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/update_task_status": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    },
    "/api/sn_vul/vul_integration_configuration/{integrationId}/{instanceId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        }
      }
    }
  }
}